header {
    background-color: rgb(54, 18, 18);
}

h1 {
    color:rgb(54, 18, 18);
    background-color: rgb(234, 255, 222);
}

.display-flex-head {
    display: flex !important;
    align-content: flex-start;
    flex-wrap: wrap;
}

.post {
    border-radius: 10px;
}